@model AlkemyChallange.Models.Subject

@{
    ViewData["Title"] = "Delete";
}



<h3>¿Está seguro que desea borrar esta Materia?</h3>
<div>    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DayOfTheWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DayOfTheWeek.Name)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hour)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hour)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.LastName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxStudents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxStudents)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="SubjectId" />     
        <p>
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a asp-action="Index" title="volver"><i class="fas fa-arrow-circle-left"></i> Volver</a>
        </p>
      
    </form>
</div>
